@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <button onclick="jsonpClick()">Jsonp Click</button>
    <button onclick="clickMe()">Click Me</button>
</div>

<script type="text/javascript">
    function jsonpClick() {
        $.ajax({
            url: "http://localhost:60552/Jsonp",
            type: "GET",
            dataType: "JSONP",
            jsonpCallback: "printResult"
        });
    }

    function clickMe() {
        $.ajax({
            url: "http://localhost:60552/Jsonp",
            type: "GET",
            success: function(response) {
                console.log(response);
            }
        });
    }

    function printResult(resp) {
        console.log(resp);
    }
</script>
